
<% if @government %>
      <h1>Please rate your customer experience with the government of
        <select name="post[person_id]" id="post_person_id">
      <option data-fullname="<%= @government.name%> <%= @flag %>" value="uk" selected="selected"><%= @government.name %> <%= @flag %></option>
      <% @other_countries.each do |oc| %>
          <option data-fullname="<%= oc.name %> <%= ISO3166::Country.new(oc.country_code.upcase == "UK" ? "GB" : oc.country_code.upcase).emoji_flag %>" value="<%= oc.country_code %>"><%= oc.url_string %> <%= ISO3166::Country.new(oc.country_code.upcase == "UK" ? "GB" : oc.country_code.upcase).emoji_flag %></option>
      <% end %>
    </select>
        today!</h1>

        <div id="voteButtons">

    <% (1..4).each do |x| %>
    <div id="vote<%= x %>" class="voteButton" data-govid="<%= @government.country_code %>">
      <%= image_tag("#{x}.svg", :alt => "") %>
    </div>
    <% end %>
  </div>
  <div id="results">

  <%= render "votes" %>
  </div>

  
  
<% else %>
  <h1>Nothing to see here!</h1>
<% end %>