
<% if @government %>

<% if @carers %>
  <h1 style="padding-bottom: 0.5em;">
<% else %>
      <h1>
      <% end %>
      How was your customer experience with the government of
        <select name="country_select" id="country_select">
      <option  data-fullname="<%= @government.name%>" value="<%= @government.country_code.downcase%>" selected="selected"><%= @government.name %> </option>
      <% @other_countries.each do |oc| %>
          <option data-fullname="<%= oc.name %>" value="<%= oc.country_code %>"><%= oc.url_string %> </option>
      <% end %>
    </select>
    <div id="flagcontainer">
    <%= image_tag("flags/#{@government.country_code.downcase}.svg", :class=> "flag", :alt => "#{@government.name} flag") %></div>
        today?</h1>

        <div id="voteButtons">
    <% if @carers %>

        <h2 style="text-align: center; font-size: 2em; padding-bottom: 1em;">PLEASE CLICK FOR OUR HEROES!</h2>
<% end %>
    <% (1..4).each do |x| %>
    <div id="vote<%= x %>" class="voteButton" data-govid="<%= @government.country_code %>">
      <%= image_tag("#{x}.svg", :alt => @alt_texts[x - 1]) %>
    </div>
    <% end %>
  </div>
  <div id="results" data-historyscores="<%= @history_scores.to_json%>">
    <%= render "votes" %>
  </div>
 

  
  
<% else %>
  <h1>Nothing to see here!</h1>
<% end %>