<div id="votes">
    <% unless @first_load %>

  <% if @total_votes > 0%>
    <% @votes.each do |v| %>
      <div class="result" data-rawpercent="<%=(100 * v.votes/@total_votes.to_f) %>" data-rawscore="<%= v.votes %>">
        
        <div id="today"><%= (100 * v.votes/@total_votes.to_f).round(1) %>% (<%= v.votes %> ratings)</div>
        <div id="arrows">
          <%= image_tag("greenarrow.svg", :class=>"arrow greenarrow", :alt => "green arrow pointing up") %>
          <%= image_tag("redarrow.svg", :class=>"arrow redarrow", :alt => "red arrow pointing down") %>
        </div>
        <div id="yesterday"></div>
      </div>
      
    <% end %>
    <% else %>
    <p>No-one has rated this government yet today!</p>
  <% end %>
   <% end %>
</div>