
<h1>Rate Your Government</h1>
<div id="voteButtons">
  <div id="vote1" class="voteButton">
    <%= image_tag("1.svg", :alt => "") %>
  </div>
  <div id="vote2" class="voteButton">
   <%= image_tag("2.svg", :alt => "") %>
   </div>
  <div id="vote3" class="voteButton">
  <%= image_tag("3.svg", :alt => "") %>
  </div>
  <div id="vote4" class="voteButton">
  <%= image_tag("4.svg", :alt => "") %>
  </div>
</div>

<div id="results">
<h2>results</h2>
<%= render "votes" %>
</div>

<br>
<% if false %>
<div>Icons made by <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<% end %>