

<% if @government %>
  <h1>Please rate your customer experience with the government of
    <select name="post[person_id]" id="post_person_id">
  <option value="uk" selected="selected"><%= @government.name %> <%= @flag %></option>
  <% @other_countries.each do |oc| %>
      <option value="<%= oc.country_code %>"><%= oc.url_string %> <%= ISO3166::Country.new(oc.country_code.upcase == "UK" ? "GB" : oc.country_code.upcase).emoji_flag %></option>
  <% end %>
</select>
    today!</h1>

<div id="countrycontent">
  <%= render "country" %>

</div>

<% else %>
  <h1>Nothing to see here!</h1>
<% end %>


<div id='charitybit'>
  We encourage people rating from the UK to support <a href="https://www.trusselltrust.org/">The Trussell Trust</a> at this fairly appalling time.
</div>

<br>
<br>
  
  <div id='bottombit' style="text-align: center;">Idea by <a href="https://twitter.com/steishere">Ste</a> • Built by <a href="https://twitter.com/edjeff">Ed</a><br>
and the <a href="https://discord.gg/RMPsZHYv3e">Maraoke Rapid Response Team</a><br><br>
Icons made by <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a> from <a   href="https://www.flaticon.com/" title="Flaticon">Flaticon</a></div>

  